<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>vue_test03</title>
	</head>
	<script src="vue.min.js"></script>

	<body>
		<div id="app">
			<ul>
				<li v-for="(item,index) in list" :key="index" v-if="index % 2 == 0">
					{{item}}----{{index}}
				</li>
				<li v-for="(value,key) in user">
					{{key}}==={{value}}
				</li>
				<li v-for="(item,index) in userlist" :key="item.user.name">
					<div v-if="item.user.name == 'itcast'" style="background: brown;">
						{{item.user.name}}--{{item.user.age}}---{{index}}
					</div>
					<div v-else="" style="background: cornflowerblue;">
						{{item.user.name}}--{{item.user.age}}---{{index}}
					</div>
				</li>
			</ul>
		</div>
	</body>
	<script>
		var VM = new Vue({
			el: '#app', // vm接管了app区域的管理 
			data: {
				list: [1, 2, 3, 4, 5],
				user: {
					name: 'itcast',
					age: '10'
				},
				userlist: [{
						user: {
							name: 'itcast',
							age: '10'
						}
					},
					{
						user: {
							name: 'itheima',
							age: '11'
						}
					},
				]
			},
		})
	</script>

</html>